****Initial EDA****

***Notes***
* Hass Avocado Board Data
    * 2017 - 2020 CSVs:
        * YYYY-market-region-hab-data.csv ("4-week Period Reports")
        * YYYY-plu-total-hab-data.csv ("Weekly Retail Volume & Price Reports")
        * YYYY-volume.csv ("Volume Data 7 Projections, kg") 
    * PDF Country Profiles and Market Reviews:
        * California 2020, 2017
        * Mexico 2019, 2014
        * Peru 2019, 2018
        * Chile 2018, 2014
        * Spain 2018, 2014
        * Europe 2018 Market Review
        * World 2018 Market Review
        * 2017: Australia, New Zealand
        * 2016: Tanzania, South Africa, Morocco, Mexico Jalisco, Kenya, Brazil, Colombia
    * Missing:
        * Global Trade Report CSVs
            * imports/exports by weight (kg) and quarter
            * shows which countries exported to which
        * Data for Regional Composite Reports
            * retail dollar growth trends, hass vs total produce
            * Sales by dollar and unit, average selling price
* Kaggle HAB data (avo-volume-and-price-data.csv)
    *

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [7]:
kag_df = pd.read_csv("data/avo-volume-and-price-data.csv")
per_2019_df = pd.read_csv("data/2019-market-region-hab-data.csv")
wkly_rtl_2019_df = pd.read_csv("data/2019-plu-total-hab-data.csv")
vol_2019_df = pd.read_csv("data/2019-volume.csv")
kag_df

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [8]:
per_2019_df

,Geography,Segment,Variety,Timeframe,Period,Current Year Week Ending,Units Prior Year,Units Current Year,Unit Variance,Dollars Prior Year,Dollars Current Year,Dollar Variance,ASP Prior Year,ASP Current Year,ASP Variance
0,California,Avocados,Hass,Last 04 Wks,1,2019-01-06 00:00:00,24643875.85,29370491.67,0.190000,29413687.49,31421462.15,0.070000,1.193550,1.069831,-0.100000
1,Great Lakes,Avocados,Hass,Last 04 Wks,1,2019-01-06 00:00:00,17398324.82,19014870.07,0.090000,20399196.67,19467894.65,-0.050000,1.172481,1.023825,-0.130000
2,Midsouth,Avocados,Hass,Last 04 Wks,1,2019-01-06 00:00:00,15387766.69,17984940.39,0.170000,18584830.24,19227934.33,0.040000,1.207767,1.069113,-0.120000
3,Northeast,Avocados,Hass,Last 04 Wks,1,2019-01-06 00:00:00,21181739.70,24394834.55,0.150000,28201009.92,30086378.99,0.070000,1.331383,1.233309,-0.070000
4,Plains,Avocados,Hass,Last 04 Wks,1,2019-01-06 00:00:00,9069072.68,9924781.46,0.090000,10427112.67,10515116.45,0.010000,1.149744,1.059481,-0.080000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,Spokane,Avocados,Hass,Last 04 Wks,13,2019-12-29 00:00:00,352119.95,413437.48,0.174138,433343.07,435596.88,0.005201,1.230669,1.053598,-0.143882
698,St. Louis,Avocados,Hass,Last 04 Wks,13,2019-12-29 00:00:00,700290.08,670929.99,-0.041926,867598.61,746727.37,-0.139317,1.238913,1.112974,-0.101653
699,Syracuse,Avocados,Hass,Last 04 Wks,13,2019-12-29 00:00:00,300992.22,309279.61,0.027534,348902.32,334520.90,-0.041219,1.159174,1.081613,-0.066910
700,Tampa,Avocados,Hass,Last 04 Wks,13,2019-12-29 00:00:00,2088112.90,2389629.09,0.144396,2166225.17,2056170.86,-0.050805,1.037408,0.860456,-0.170571
701,West Tex/New Mexico,Avocados,Hass,Last 04 Wks,13,2019-12-29 00:00:00,3065046.46,3411949.52,0.113180,2926716.55,2893780.92,-0.011253,0.954869,0.848131,-0.111782

In [9]:
wkly_rtl_2019_df

,Geography,Timeframe,Current Year Week Ending,Type,ASP Current Year,Total Bulk and Bags Units,4046 Units,4225 Units,4770 Units,TotalBagged Units,SmlBagged Units,LrgBagged Units,X-LrgBagged Units
0,Total U.S.,Weekly,2019-01-07 00:00:00,Conventional,1.02,44749707.48,14377053.08,11890232.90,893721.10,17588700.40,12829493.40,4617813.55,141393.45
1,Albany,Weekly,2019-01-07 00:00:00,Conventional,1.07,129222.29,3789.30,112635.18,158.00,12639.81,8877.95,3761.86,0.00
2,Atlanta,Weekly,2019-01-07 00:00:00,Conventional,0.92,828971.15,388574.98,38902.85,3482.04,398011.28,299475.26,98477.41,58.61
3,Baltimore/Washington,Weekly,2019-01-07 00:00:00,Conventional,1.31,925391.38,102652.85,530128.43,8212.94,284397.16,263150.78,21233.05,13.33
4,Boise,Weekly,2019-01-07 00:00:00,Conventional,1.23,108261.98,43723.19,7085.86,14435.46,43017.47,23932.54,19049.95,34.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5611,West,Weekly,2019-12-08 00:00:00,Organic,1.70,245994.99,11380.46,25219.75,683.98,208710.80,133901.18,74685.23,124.39
5612,West Tex/New Mexico,Weekly,2019-12-29 00:00:00,Organic,1.45,19466.22,1431.08,460.61,1103.73,16470.80,15943.57,527.23,0.00
5613,West Tex/New Mexico,Weekly,2019-12-22 00:00:00,Organic,1.55,18989.06,1101.59,415.30,1600.14,15872.03,15228.31,643.72,0.00
5614,West Tex/New Mexico,Weekly,2019-12-15 00:00:00,Organic,1.45,20441.12,989.61,503.55,896.94,18051.02,17740.19,310.83,0.00
5615,West Tex/New Mexico,Weekly,2019-12-08 00:00:00,Organic,1.46,20226.95,1052.97,615.72,1805.06,16753.20,16263.98,489.22,0.00

In [10]:
vol_2019_df

,Week,Status,Total Volume,California,Chile,Mexico,Peru,Colombia
0,"Jan 6, 2019",Actual,"17,982,438",0,"504,051","17,478,386",0,0
1,"Jan 13, 2019",Actual,"33,164,827","32,458","523,653","32,608,715",0,0
2,"Jan 20, 2019",Actual,"33,231,285","16,080","309,225","32,905,979",0,0
3,"Jan 27, 2019",Actual,"26,852,870","138,807","307,021","26,407,041",0,0
4,"Feb 3, 2019",Actual,"20,516,793","102,486","265,240","20,149,065",0,0
5,"Feb 10, 2019",Actual,"17,867,565","58,947","225,451","17,583,166",0,0
6,"Feb 17, 2019",Actual,"23,967,131","99,322","186,048","23,681,761",0,0
7,"Feb 24, 2019",Actual,"27,662,445","180,122","83,865","27,376,952","21,503",0
8,"Mar 3, 2019",Actual,"25,544,246","312,653","101,428","25,130,164",0,0
9,"Mar 10, 2019",Actual,"25,259,321","255,737","101,698","24,901,884",0,0
10,"Mar 17, 2019",Actual,"26,154,685","505,834","20,813","25,628,036",0,0
11,"Mar 24, 2019",Actual,"21,709,066","712,720",0,"20,996,345",0,0
12,"Mar 31, 2019",Actual,"26,205,099","1,556,380",0,"24,648,719",0,0
13,"Apr 7, 2019",Actual,"30,077,488","3,626,784",0,"26,450,704",0,0
14,"Apr 14, 2019",Actual,"32,548,743","5,036,331",0,"27,512,411",0,0
15,"Apr 21, 2019",Actual,"18,699,814","4,487,882",0,"14,125,916","86,015",0
16,"Apr 28, 2019",Actual,"19,826,955","4,279,338",0,"15,182,052","365,563",0
17,"May 5, 2019",Actual,"17,136,065","3,299,487",0,"13,169,960","666,616",0
18,"May 12, 2019",Actual,"20,554,280","3,047,796",0,"16,710,844","795,639",0
19,"May 19, 2019",Actual,"22,949,568","4,177,127",0,"16,772,590","1,999,849",0
20,"May 26, 2019",Actual,"24,243,743","5,266,114",0,"16,160,635","2,816,992",0
21,"Jun 2, 2019",Actual,"22,116,348","4,134,902",0,"13,465,655","4,515,789",0
22,"Jun 9, 2019",Actual,"19,985,271","4,567,467",0,"10,278,404","5,139,399",0
23,"Jun 16, 2019",Actual,"19,579,740","4,945,967",0,"8,612,719","6,021,053",0
24,"Jun 23, 2019",Actual,"19,555,594","5,682,034",0,"5,852,656","8,020,903",0
25,"Jun 30, 2019",Actual,"17,472,181","6,214,440",0,"3,924,957","7,332,782",0
26,"Jul 7, 2019",Actual,"23,335,906","5,741,418",0,"9,536,491","8,057,995",0
27,"Jul 14, 2019",Actual,"24,570,770","5,793,547",0,"10,885,341","7,891,880",0
28,"Jul 21, 2019",Actual,"23,398,566","4,487,157",0,"12,395,768","6,515,639",0
29,"Jul 28, 2019",Actual,"24,276,947","3,422,447",0,"14,209,837","6,644,662",0
30,"Aug 4, 2019",Actual,"17,973,450","2,452,862","43,007","10,101,639","5,375,940",0
31,"Aug 11, 2019",Actual,"14,010,356","1,907,796","107,023","8,597,941","3,397,594",0
32,"Aug 18, 2019",Actual,"22,549,024","1,752,764","148,983","17,335,696","3,311,579",0
33,"Aug 25, 2019",Actual,"21,920,152","1,366,759","564,764","18,289,830","1,698,797",0
34,"Sep 1, 2019",Actual,"16,823,952","1,013,190","763,907","13,520,087","1,526,767",0
35,"Sep 8, 2019",Actual,"20,392,147","498,538","1,091,076","18,221,930","580,601",0
36,"Sep 15, 2019",Actual,"23,478,116","423,658","1,284,436","21,468,968","301,052",0
37,"Sep 22, 2019",Actual,"18,660,201","325,451","1,655,601","16,636,140","43,007",0
38,"Sep 29, 2019",Actual,"25,528,984","277,577","1,467,704","23,783,702",0,0
39,"Oct 6, 2019",Actual,"22,148,372","216,247","1,192,287","20,717,157",0,"22,679"
40,"Oct 13, 2019",Actual,"23,599,398","77,223","1,045,209","22,476,965",0,0
41,"Oct 20, 2019",Actual,"20,508,511",0,"766,209","19,742,301",0,0
42,"Oct 27, 2019",Actual,"21,984,715",0,"621,195","21,363,518",0,0
43,"Nov 3, 2019",Actual,"24,091,303",0,"545,248","23,546,054",0,0
44,"Nov 10, 2019",Actual,"19,603,180",0,"85,345","19,517,834",0,0
45,"Nov 17, 2019",Actual,"18,735,493",0,"40,800","18,694,693",0,0
46,"Nov 24, 2019",Actual,"17,961,124",0,"106,296","17,854,826",0,0
47,"Dec 1, 2019",Actual,"22,346,673",0,"165,047","22,181,625",0,0
48,"Dec 8, 2019",Actual,"25,248,215",0,"142,703","25,105,510",0,0
49,"Dec 15, 2019",Actual,"21,966,259",0,"142,703","21,823,555",0,0
50,"Dec 22, 2019",Actual,"22,498,403",0,"80,639","22,417,762",0,0
51,"Dec 29, 2019",Actual,"15,153,757",0,"101,039","15,052,716",0,0